<div class="nav">
  <div>
    <h3>Placement Cell</h3>
  </div>
  <div class="menu-nav">
    <a href="/addstudent">Add Student</a>
    <a href="/addinterview">Add Interview</a>
    <a href="/jobs">Jobs</a>
    <a href="/report">Report</a>
    <a href="/logout">Logout</a>
  </div>
</div>

<div class="dashboard-container">
  <a class="btn btn-dark" href="/studentsList">List of Students</a>
  <a class="btn btn-dark" href="/interviewsList">List of Interviews</a>
  <a class="btn btn-dark" href="/interviewAllocation">Allocate Interview</a>
  <a class="btn btn-dark" href="resultAllocation">Allocate Result</a>
</div>