<div class="nav">
  <div>
    <h3>Placement Cell</h3>
  </div>
  <div class="menu-nav">
    <a href="/dashboard">Dashboard</a>
    <a href="/addstudent">Add Student</a>
    <a href="/addinterview">Add Interview</a>
    <a href="/jobs">Jobs</a>
    <a href="/report">Report</a>
    <a href="/logout">Logout</a>
  </div>
</div>
