.welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}
.welcome-box > h3 {
  margin-bottom: 10px;
}
.welcome-box > div > a {
  margin: 8px;
}
.register-form {
  display: flex;
  flex-direction: column;
}
.register-form > input {
  margin: 10px;
  width: 300px;
  height: 40px;
  padding: 10px;
}
.register-form > select {
  margin: 10px;
  width: 300px;
  height: 40px;
  padding: 10px;
}

.nav {
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > div > h3 {
  color: white;
  padding-left: 30px;
}
.menu-nav > a {
  color: white;
  text-decoration: none;
  margin: 25px;
}
.menu-nav>a:hover{
  color: red;
}


.add-Container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.form-add-edit-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.form-add-edit-delete > div > input {
  margin: 15px;
  padding: 10px;
  padding-left: 4px;
}
.form-add-edit-delete > div > button {
  margin: 20px;
}
.form-add-edit-delete > div > select {
  margin: 15px;
  padding: 10px;
  width: 200px;
  padding-left: 4px;
}